<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="app">
        <p> {{ messages }}</p>
    </div>
    <hr>

    <div class="app1">
        <p v-bind:title="thong_bao">Ràng buộc thuộc tính các phần tử</p>
        <p v-bind:class="active"> {{ messages }}</p>
    </div>
    <hr>

    <div class="app2">
        <p>Điều kiện</p>
        <p v-if="seen">Lệnh if nếu v-if = true thì hiện text, v-if = false thì ẩn text</p>
    </div>
    <hr>

    <div class="app3">
        <p>Vòng lặp</p>
        <ul>
            <li v-for="item in items">
                {{ item.text }}
            </li>
        </ul>
    </div>
    <hr>

    <div class="app4">
        <p v-bind:class="click">Hiệu ứng v-on: click</p>
        <button v-on:click="Click">Click</button>
    </div>
    <hr>

    <div class="app5">
        <p>V-model</p>
        <p>{{ text }}</p>
        <input type="text" v-model="text">
    </div>
    <hr>

    <div class="app6">
        <p>Compoment</p>
        <ul>
            <todo-item v-for="item in items" v-bind:todo="item"></todo-item>
        </ul>
    </div>
</body>

<script src="vue.js"></script>

</html>